.material-icons {
    padding: 0 .1rem;
    margin: 0;
    font-size: 1.2rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.th-center {
    text-align: center;
}